body{
  background:rgb(244, 248, 249);
  border-color: rgb(225, 232, 237);
  border-width: 3px;
  border-style: solid;
}
userName{
  color: rgb(0, 0, 0)
}
userAccount{
  color: rgb(104, 109, 129)
}

p{
  color: rgb(0, 0, 0)
}
date{
  color: rgb(101, 116, 127)
}
button{
  color: rgb(105, 120, 130)
}
Follow{
  color:rgb(85, 172, 238)
}
.Right{
 position:absolute;
 top:20px;
 right:60px;
 width:160px;
}


<style type="text/css">
#contenedor {
    display: table;
    border: 2px solid #000;
    width: 300px;
    text-align: center;
    margin: 0 auto;
}
#cabecero {
    display: table-row;
}
#columna1, #columna2, #columna3 {
    display: table-cell;
    vertical-align: middle;
    padding: 1px;
}
</style>
